.createReservation-page {
  .form-card {
    .form-fields-block {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      align-items: flex-start;
    }

    .form-field {
      width: 100%;
      margin-bottom: 30px;
      padding: 0 15px;

      @media (min-width: 600px) {
        width: 50%;
      }
    }
  }
}
